table.table-tree > tbody > tr > .cell-tree-node {
    padding: 0;
    position: relative;
}
table.table-tree > tbody > tr:not(.no-children) > .cell-tree-node {
    cursor: pointer;
}
table.table-tree > tbody > tr:not(.no-children) > .cell-tree-node:hover {
    color: var(--bs-primary);
}
table.table-tree > tbody > tr.no-children  > .cell-tree-node,
table.table-tree > tbody > tr.no-children  > .cell-tree-node * {
    cursor: default;
}
table.table-tree > tbody > tr > td {
    border-bottom: none !important;
}
table.table-tree .tree-node-container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0.25rem 0.5rem 0.25rem calc(2rem + calc(1.5rem * var(--tree-node-level, 0)));
}
table.table-tree .tree-node-container > .icon-node {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7px;
    left: calc(2rem + calc(1.5rem * var(--tree-node-level, 0)) - 1.5rem);
    width: 16px;
    height: 16px;
    color: var(--bs-gray-600);
    text-decoration: none !important;
    border: 1px solid var(--bs-gray-600);
    z-index: 10;
}
table.table-tree .tree-node-container > .icon-node::before {
    content: "\f0fe";
}
table.table-tree > tbody > tr.expanded .icon-node::before {
    content: "\f146";
}
table.table-tree > tbody > tr.no-children .icon-node {
    border: none;
    pointer-events: none;
}
table.table-tree > tbody > tr.no-children .icon-node::before {
    content: "\f192";
}
